{% extends "piusairline/main.html" %}
{% load static %}

{% block title %}
  Password Reset
{% endblock title %}

{% block contents %}

<!-- Display form validation errors to users -->
{% if err != null %}
  <div class="alert alert-danger">{{ err }} </div>
{% endif %}
<form class="needs-validation" method="POST">
    {% csrf_token %}
    <h2>Reset your Password</h2>
    
    <div class="row" id="djangouserform">
            {{ form.as_p }}
    </div>
<div class="row">

    <div  class="col-md-4 col-xl-4 col-sm-4">
    <button class="btn btn-info">Rest Password</button>
    </div>

</div>
</form>
{% endblock contents %}