{% extends "piusairline/main.html" %}
{% load static %}

{% block title %}
  Password Reset Link 
{% endblock title %}

{% block contents %}

    <p class="alert alert-info">
            Hello there,
            You resently requested a password reset on your Pius Airline Account.
            <br /> Below is the link to reset your password for your Pius Airline acount registered with email {{ email }}
    </p>

    <p class="alert alert-dark">
            visit the folowing link to reset your password. 
            <br>
            {{protocol}}://{{domain}}{% url 'password_reset_confirm' uidb64=uid token=token %}
            <br>
            Visit this link before it expires
    </p>
    
{% endblock contents %}