<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/piusairline/images/fav.png">

    <link rel="stylesheet" href="/static/piusairline/css/bootstrap.css" >
    <link rel="stylesheet" href="/static/piusairline/css/style.css" >
    <script src="/static/piusairline/js/countries.js"></script>
    <title>       

  Password Reset Link


            | Peter

        | Pius Airline
    </title>
</head>
<body>
    <div class="container">

            <a href="/itenery" class="text-sm-right"> Hi Peter</a>
        <hr/>
        <div class="row">                   
        <div class="col-md-6 order-md-0">
            <a class="btn btn-outline-info" href="index">Home</a>
            <a class="btn btn-outline-info" href="bookflight">Flight Booking</a>
            <a class="btn btn-outline-info" href="flights">View Flights</a>


            <a class="btn btn-outline-info" href="/accounts/logout/">Logout</a>
            <a class="btn btn-outline-info" href="/itenery">Dashbord</a>


        </div>
        <div class="col-md-1 order-md-1 text-right">
            <img width="55px" height="76px" src="/static/piusairline/images/fav.png"></img>           
        </div>
        <h1 class="col-md-4 order-md-2 text-left text-info">Pius Airline</h1>
    </div>
    <div class="row">
        <div class="col-md-8 order-md-0">


    <p class="alert alert-info">
            Hello there,
            You resently requested a password reset on your Pius Airline Account.
            <br /> Below is the link to reset your password for your Pius Airline acount registered with email piusloveday@gmail.com
    </p>

    <p class="alert alert-dark">
            visit the folowing link to reset your password.
            <br>
            http://localhost:4/accounts/reset/OQ/56q-c0c1d3727cb84900d944/
            <br>
            Visit this link before it expires
    </p>


        </div>
        <div class="col-md-4 order-md-1">
                <img width="195px" height="476px" src="/static/piusairline/images/ads.jpg"></img>           
        </div>
    </div>
    </div>

    <div class="row piusfooter">
        <div class="col-md-4 order-md-0">
            <h2>About Pius Airline</h2>   
            <p>We are a topnutch airline company with unbeatable value </p>
        </div>

        <div class="col-md-4 order-md-1">
                <h2>Promotions and Socials</h2>   
                <p>Seasonal Purchase </p>
                <p>Summer Sales </p>
                <p>Holiday Discount </p>
                <p>Instangram  </p>
                <p>Twiter  </p>
                <p>Facebook </p>
        </div>

        <div class="col-md-4 order-md-2">
                <h2>Support</h2>   
                <p><a href="/">Contact us</a>  </p>
                <p><a href="/">Online Support  </a></p>
                <p><a href="/">Cancel Flight </a></p>
                <p><a href="home">Change Flight itenery</a>  </p>
                <p>Multiply route flight  </p>
                <p>Tour multiple rout deal</p>
                <p>Vacation Deal  </p>
                <p>Promo Code </p>
                <p>Discounted flight </p>
        </div>

    </div>
    <script language="javascript">
            populateCountries("country", "state");   
        </script>
</body>
</html>